@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400&display=swap');

body {
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo{
  height: 30px;
  width: 60px;
}

#accueil{
  background-size: cover;
  height: calc(100vh - 80px);
  width: 80%;
  opacity: 1;
}

#right-content {
  background: url(./assets/images/vinyl.jpg);
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.collapse {
  display: flex;
  justify-content: end;
}

@media (max-width: 1000px) {

  #right-content {
    display: none;
  }
}